/* Header-container styling */
.header-Jumbotron {
    box-shadow: 0 0 10px white;
    color: rgb(64, 90, 204);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Login-Form styling */
.login-container {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 100px;
}

.login-card {
  height: 300px;
  width: 500px;
  align-self: center;
  justify-content: center;
}

.login-form {
  align-self: center;
}

/* Signup-Form styling */
.signup-container {
    padding-top: 65px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.signup-card {
  height: 400px;
  width: 600px;
  align-self: center;
  justify-content: center;
}

.signup-form {
    align-self: center;
}


.footer {
    background: whitesmoke;
    max-height: 95px;
    box-shadow: 0 0 10px rgb(233, 230, 230);
    position: bottom;
}


.fa{
    color: rgb(58, 58, 197, 0.9);
    border-radius: 25px;
}
.fa:hover {
  opacity: 0.7;
}

/* User Profile styling */
.user-profile-card {
  width: 33vw;
  height: 100vh;
  border: 3px solid grey;
  margin-left: 15px;
}

.user-profile-card {
  margin: auto;
  margin-top: 30px;
  border: 10px solid grey;
  border-radius: 50%;
  width: 90%;
}
.user-button {
  height: "5rem";
}
