*,
*:before,
*:after {
  box-sizing: inherit;
}
html { 
  background: url(./images/bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 3rem;
  background: url("./images/bg3.jpg") no-repeat center center fixed; 
  background-size: cover;
  font-family: sans-serif;
}
/* Header-container styling */
.header-Jumbotron {
  margin: 10px;
  box-shadow: 0 0 10px white;
  color: rgb(64, 90, 204);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Login-Form styling */
.login-container {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 100px;
}

.login-card {
  height: 300px;
  width: 500px;
  align-self: center;
  justify-content: center;
}

.login-form {
  align-self: center;
}

/* Signup-Form styling */
.signup-container {
  padding-top: 65px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.signup-card {
  height: 400px;
  width: 600px;
  align-self: center;
  justify-content: center;
}

.signup-form {
  align-self: center;
}

.footer {
  background: whitesmoke;
  box-shadow: 0 0 10px rgb(233, 230, 230);
  position: absolute;
  bottom: 0;
  max-height: 100px;
  margin: 0 10px;
  border-radius: 5px;
  width: 98vw;
  align-self: center;
}

.fa {
  color: rgb(58, 58, 197, 0.9);
  border-radius: 25px;
}
.fa:hover {
  opacity: 0.7;
}

/* User Profile styling */
.user-profile-card {
  max-width: 33vh;
  height: 80vh;
  border: 3px solid grey;
  border-radius: 5px;
  float: left;
  margin-top: 10px;
}
.image-styles {
  border: 4px double lightblue;
}

.main-display-row {
  /* this is only being used to check the container size */
  /* border: 2px solid red; */
  display: flex;
  align-items: stretch;
  max-width: 100vw;
  max-height: 100vh;
  padding: 10px;
  margin-bottom: 100px
}

.componentHolder {
  display: flex;
  width: 100%;
  /* border: 2px solid black; */
  padding: 10px;
}

.button-group{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.user-button {
  font-family: Helvetica, sans-serif;
  height: 3rem;
}

.user-links {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* Accordion styling */
.task-header{
  font-style: bold;
  color:rgb(58, 56, 56);
}


.task-modal{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.task-form{
  margin-top: 10px;
}

#complete-task{
  position: absolute;
  right: 0;
  margin-top: 3px;
  margin-right: 47px;
}

#formGroupEmail{
  width: 50%;
  margin-left: 10px;
}

#delete-task{
  position: absolute;
  right: 0;
  margin-top: 3px;
  margin-right: 5px;
}

.task-body{
  margin-left: 10px;
  margin-right: 10px;
}

.new-task-button{
  color: rgb(61, 59, 59);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}